.container-fluid{
	padding:70px 60px;
}

.img-thumbnail{
	height: 750px; 
	width: 100%;
}

#principale{
	background-color:#ffffff;
}

#schede{
	background-color:#f6f6f6;
	margin:auto;
}

#video{
	background-color:#f6f6f6;
	margin:auto;
}